@model PrintJiraCards.Models.Card
<div class="card">
    <div class="card-header">
        <img class="card-type" src="@Model.TypeAvatar.Url" />
        <div class="card-key">
            @if (Model.HasParent)
            {
                <div class="card-parent-key">@Model.ParentKey  \</div>
            }
            @Model.Key
        </div>
        @{ if (!string.IsNullOrEmpty(Model.UserAvatar.Url)) {
                <img class="card-user" src="@Model.UserAvatar.Url" />
                } }
    </div>
    <div class="card-body">
        @if (Model.HasParent)
        {
            <div class="card-summary-short">
                <div class="card-parent-summary">@Model.ParentSummary</div>@Model.Summary
            </div>
        }
        else
        {
            <div class="card-summary">@Model.Summary</div>
        }
        @foreach (var label in Model.Labels)
        {
            <div class="label">@label</div>
        }
    </div>
    <div class="card-footer">
        @if (Model.HasEpic)
        {
            <div class="card-epic">@Model.EpicSummary</div>
        }
        <div class="card-estimate">@Model.EstimateTotal</div>
    </div>
</div>